<div class="container my-4">
  <h2 class="text-center mb-4">Productos de Yerba Mate</h2>

  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let producto of productos">
      <div class="card h-100 shadow-sm border-0 custom-card position-relative">

        <!-- Badge de oferta -->
        <span *ngIf="producto.oferta" class="badge bg-danger position-absolute top-0 start-0 m-2">
          Oferta
        </span>

        <!-- Imagen -->
        <img *ngIf="producto.imagen; else noImage" [src]="producto.imagen" [alt]="producto.nombre"
          class="card-img-top product-img" />

        <ng-template #noImage>
          <div class="placeholder-img d-flex justify-content-center align-items-center">
            <span class="text-muted">Sin imagen</span>
          </div>
        </ng-template>

        <!-- Contenido -->
        <div class="card-body d-flex flex-column justify-content-between">
          <!-- Nombre -->
          <h5 class="card-title">{{ producto.nombre }}</h5>

          <!-- Stock -->
          <p *ngIf="producto.stock === 0" class="text-danger fw-semibold">
            <i class="bi bi-exclamation-circle me-1"></i> Sin stock disponible
          </p>
          <p *ngIf="producto.stock > 0" class="text-muted mb-1">
            <i class="bi bi-box"></i> Stock: {{ producto.stock }}
          </p>

          <!-- Precio y oferta -->
          <div class="mb-3">
            <span *ngIf="producto.oferta; else precioNormal">
              <span class="text-muted text-decoration-line-through me-2">{{ producto.precio | currency}}</span>
              <span class="text-success fw-bold">$ {{ producto.precio * 0.9 | currency }}</span>
              <!-- 10% de descuento -->
            </span>
            <ng-template #precioNormal>
              <h6 class="text-success fw-bold">{{ producto.precio | currency}}</h6>
            </ng-template>
          </div>

          <app-input-numero [(cantidad)]="producto.cantidad" [max]="producto.stock" [min]="0">
          </app-input-numero>
          
          <!-- Botón -->
          <button class="btn w-100 mt-auto"
            [ngClass]="producto.stock > 0 ? 'btn-outline-success' : 'btn-outline-secondary'"
            [disabled]="producto.stock === 0" (click)="agregarCarrito(producto)">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>